<nav>
  <a style="color: DarkBlue;" class="btn" href="/" {% if page.url == "/" %}style="color: SeaGreen;"{% endif %}>
    Home
  </a>
  <a style="color: DarkBlue;" class="btn" href="/news/" {% if page.url == "/news/" %}style="color: SeaGreen;"{% endif %}>
    News
  </a>
  <a style="color: DarkBlue;" class="btn" href="/research/" {% if page.url == "/research/" %}style="color: SeaGreen;"{% endif %}>
     Research
  </a>
  <a style="color: DarkBlue;" class="btn" href="/people/" {% if page.url == "/people/" %}style="color: SeaGreen;"{% endif %}>
     People
  </a>
  <a style="color: DarkBlue;" class="btn" href="/publications/" {% if page.url == "/publications/" %}style="color: SeaGreen;"{% endif %}>
     Publications
  </a>
  <a style="color: DarkBlue;" class="btn" href="/positions/" {% if page.url == "/positions/" %}style="color: SeaGreen;"{% endif %}>
     Poisitions
  </a>
  <a style="color: DarkBlue;" class="btn" href="/resources/" {% if page.url == "/resources/" %}style="color: SeaGreen;"{% endif %}>
     Resources
  </a>
</nav>
