<nav>
  <a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>
    Home
  </a>
  <a href="/news/" {% if page.url == "/news/" %}style="color: red;"{% endif %}>
    News
  </a>
  <a href="/research/" {% if page.url == "/research/" %}style="color: red;"{% endif %}>
     Research
  </a>
  <a href="/people/" {% if page.url == "/people/" %}style="color: red;"{% endif %}>
     People
  </a>
  <a href="/publications/" {% if page.url == "/publications/" %}style="color: red;"{% endif %}>
     Publications
  </a>
  <a href="/positions/" {% if page.url == "/positions/" %}style="color: red;"{% endif %}>
     Poisitions
  </a>
  <a href="/resources/" {% if page.url == "/resources/" %}style="color: red;"{% endif %}>
     Resources
  </a>
</nav>
